doctype html
html(lang='en')
    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content="Zhaoyang Han's Homepage")
        meta(name='author', content="function47")

        title Zhaoyang Han's Homepage 
        //social icons
        script(async, src='https://www.googletagmanager.com/gtag/js?id=G-TEJHW6CCK9')
        

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#') function47 
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse

        // Page content
        .container
            .text-left.mt-5
                h1 Zhaoyang Han
                p.lead 
                    | I am Zhaoyang Han, a PhD candidate at Northeastern University advised by 
                    | #[a(href='https://coe.northeastern.edu/Research/rcl/members/MEL/index.html') Prof. Miriam Leeser]. I received my Bachelor's degree at University of Manchester and Master's degree at University of Pennsylvania. I mainly focus on reconfigurable hardwares and networking systems.
                    |
                    br
                table(style='width:100%')
                    tr
                        td
                            p
                                Strong Contact:
                                | zhhan at(symbol) dot coe dot neu dot edu
                        td 
                            a.btn.btn-outline-primary.btn-xs(style="padding-left: 2; padding-right: 2; padding-top: 0; padding-bottom: 0", href="https://www.github.com/function47/")
                                i(class="fa fa-github")  
                        td 
                            a.btn.btn-outline-primary.btn-xs(style="padding-left: 2; padding-right: 2; padding-top: 0; padding-bottom: 0", href="https://scholar.google.com/citations?user=NmvyDqEAAAAJ&hl=en&authuser=1")
                                i(class="fa fa-graduation-cap")  
                        td 
                            a.btn.btn-outline-primary.btn-xs(style="padding-left: 2; padding-right: 2; padding-top: 0; padding-bottom: 0", href="https://www.linkedin.com/in/zhaoyang-han-607085107")
                                i(class="fa fa-linkedin")  
                br
                h2 Publications
                br
                // CrownComm
                p.h5 Computationally Efficient Look-up-Tables for Behavioral Modelling and Digital Pre-distortion of Multi-Standard Wireless System 
                p 
                    strong Zhaoyang Han,
                    | Meabh Loughman, Yiyue Jiang, Mushini Rahul, John Dooley, Miriam Leeser 
                    br
                    | 16th EAI International Conference on Cognitive Radio Oriented Wireless Networks
                    strong (EAI CROWNCOM
                    |), 2021
                br
                  

                //Flightplan
                p.h5    Flightplan: Dataplane disaggregation and placement for p4 programs
                p 
                    | Nik Sultana, John Sonchack, Hans Giesen, Isaac Pedisich,
                    strong Zhaoyang Han,
                    | Nishanth Shyamkumar, Shivani Burad, André DeHon, Boon Thau Loo
                    br
                    | 18th USENIX Symposium on Networked Systems Design and Implementation(
                    strong (NSDI
                    | ), 2021

                //PR-Flow
                p.h5   Reducing FPGA compile time with separate compilation for FPGA building blocks 
                p 
                    | Yuanlong Xiao, Dongjoon Park, Andrew Butt, Hans Giesen,
                    strong Zhaoyang Han,
                    | Rui Ding, Nevo Magnezi, Raphael Rubin, André DeHon 
                    br
                    | International Conference on Field-Programmable Technology(
                    strong (FPT
                    | ), 2019

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
